@font-face {
  font-family:"FUTURE";
  src:url("fonts/FUTURE.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}
*{
  margin: 0;
  padding: 0;
  font-size: 12px;
}
h1, h2 {
  font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
}
strong, span{
  white-space: nowrap;
}
span{
  font-family: FUTURE, sans-serif;
  margin-left: 3px;
}

.main_wrapper{
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  min-height: 100vh;
  width: 100%;
  background-image: url('../assets/images/background_main.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
.top_nav{
  position: relative;
  margin: 0 auto;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.left_nav{
  position: absolute;
  left: 10px;
  top: 100px;
}

.bottom_nav{
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, 0);
}

.trade_base_wrapper{
  position: relative;
  width: 730px;
  margin: 50px auto 80px 70px;
  border: 2px solid white;
  border-radius: 12px;
}

.planet_main_wrapper{
  position: relative;
  left: 70px;
  top: 50px;
  border-radius: 12px;
  width: calc(100% - 200px);
  max-width: 1600px;
  min-width: 730px;
  height: calc(100vh - 200px);
  display: flex;
  padding: 0;
  margin-bottom: 100px;
  @media (max-width: 1210px){
    height: calc(100vh + 132px);
  }
  &::after{
    border-radius: 12px;
    content: '';
    background-image: url('../assets/images/planet_window_bgN.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    opacity: .5;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.error_wrapper{
  position: absolute;
  left: 50%;
  top: -22px;
  transform: translate(-50%, -50%);
  width: 270px;
  padding: 10px 10px;
  background-color:  rgb(173, 12, 89);
  text-align: center;
  border-radius: 12px;
  z-index: 999999999;
  & h3{
    font-family: FUTURE, sans-serif;
    color: #e8980d;
  }
}