$sp_green:  #00E000 !global;
$sp_yellow:  #daa548 !global;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.planet_item{
  box-sizing: border-box;
  z-index: 1;
  position: relative;
  padding: 0;
  width: 100%;
  border: 2px solid white;
  border-radius: 0 12px 12px 0;
  &.planet_list{
    padding-right: 5px;
    width: 25%;
    min-width: 200px;
    border-radius: 12px 0 0 12px;
    border-right: 1px solid rgba(0, 0, 0, .5);
  }
}
.planet_icon{
  width: 100%;
  background-image: url("../assets/images/planet_fon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  & img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: 200s linear planet_spin infinite;
  }
}

.planet_data_name{
  color: #daa548;
  cursor: default;
  font-size: 105%;
  line-height: 125%;
  font-family: FUTURE, sans-serif;
  text-align: center;
  &.link{
    cursor: pointer;
    color:  #00E000;
  }
  &.border_top{
    position: relative;
    margin-top: 10px;
    &::after{
      position: absolute;
      content: '';
      border-top: 1px solid white;
      opacity: .4;
      top: -5px;
      left: 0;
      width: 80%;
      margin-left: 10%;
    }
  }
}

.planetary_system_wrapper{
  z-index: 200;
  position: absolute;
  left: 70px;
  top: 85px;;
  border: 2px solid white;
  border-radius: 12px;
  width: 76%;
  height: 60vh;
  padding: 100px;
  &::before{
    border-radius: 12px;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url("../assets/images/planetary_system_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.planetary_system_close_button{
  padding: 5px 10px;
  border-radius: 8px;
  outline: none;
  border: 1px solid black;
  position: absolute;
  right: 5px;
  top: 5px;
}
.planet_navigation{
  width: 100%;
  height: 40px;
  border-radius: 0 12px 0 0;
  display: flex;
  gap: 1px;
}

.circle_right_border{
  border-radius: 0 12px 0 0;
}

.planet_navigation_btn{
  position: relative;
  background-color: inherit;
  width: 100%;
  border: 1px solid black;
  outline: none;
  color:  #00E000;
  font-family: FUTURE, sans-serif;
  &:after{
    z-index: -2;
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .28);
  }
  &:active{
    border-bottom: 1px solid white;
  }
  &:hover{
    color: white;
  }
}

.order_list_wrapper{
  z-index: -1;
  margin-top: 40px;
  min-height: calc(30% - 40px);
}
.building_in_progress_wrapper{
  position: relative;
  display: flex;
  color: white;
  justify-content: space-around;
  padding: 10px 10px 0;
  align-items: center;
  ::after{
    width: 100%;
    border-bottom: 1px solid white;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: .05;
  }
}
.building_in_progress_wrapper-name{
  & span{
    color:  #00E000;
    font-size: calc(12px + (16 - 12) * ((100vw - 800px) / (1920 - 800)));
    font-family: FUTURE, sans-serif;
  }
}
.building_in_progress_wrapper-timer{
  & span{
    color: #daa548;
    font-size: calc(12px + (16 - 12) * ((100vw - 800px) / (1920 - 800)));
  }
  & strong{
    font-size: calc(12px + (16 - 12) * ((100vw - 800px) / (1920 - 800)));
    color:  #00E000;
  }
}





.buildings_wrapper{
  position: relative;
}
.buildings_infrastructure{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  gap: 5.1px;
  justify-content: space-between;
  position: relative;
}
.building_card{
  position: relative;
  width: 16%;
  height: 225px;
  min-width: 150px;
  border: 1px solid white;
}
.building_name{
  width: 100%;
  height: 20%;
  color: #daa548;
  font-family: FUTURE, sans-serif;
  background-color: rgba(15, 65, 140, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.building_picture{
  height: 55%;
  width: 100%;
  & img{
    width: 100%;
    height: 100%;
  }
}
.building_controls{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 25%;
}
.building_card_btn{
  height: 30px;
  background-color: rgba(15, 65, 140, .5);
  color: #daa548;
  border: 1px solid white;
  &:active{
    color:  #00E000;
  }
}

.mini{
  width: 40px;
  padding: 5px 10px;
  border-radius: 6px;
}

.medium{
  width: 100px;
  padding: 5px 10px;
  border-radius: 6px;
  border: 2px solid #00E000;
  &:active{
    border: 2px solid white;
    font-size: 105%;
  }
}
.modules_line_buttons{
  display: flex;
  gap: 10px;
}


.planet_storage_wrapper{
  margin-top: 40px;
  border-radius: 12px;
  padding: 100px;
  width: calc(100% - 200px);
}

.planet_storage_navigation{
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  gap: 2px;
}

.modules_line_title{
  display: flex;
  justify-content: space-around;
  background-color: rgba(15, 65, 140, .7);
  align-items: center;
  cursor: default;
}
.modules_line_title_inner{
  padding: 5px 0;
  text-align: center;
  width: 20%;
  color: white;
  &.double_width{
    width: 25%;
  }
  &.settings{
    width: 10%;
    min-width: 110px;
  }
  &.amount{
    width: 13%;
    margin-left: 1.5%;
  }
  &.mass{
    margin-left: 5%;
  }
}
.planet_storage_modules{
  position: absolute;
  left: 0;
  top: 80px;
  width: 100%;
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(15, 65, 140, .5);
}
.planet_storage_modules_line {
  width: calc(100% - 42px);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.planet_storage_materials_line {
  width: calc(100% - 42px);
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modules_materials{
  width: 80%;
  text-align: center;
  color: #daa548;
  font-weight: bold;
  font-family: FUTURE, sans-serif;
  cursor: default;
  margin: 5px 0;
  @media (max-width: 1024px) {
    font-size: 75%;
    height: 20px;
  }
}

.modules_line{
  width: 80%;
  text-align: center;
  color: #daa548;
  font-weight: bold;
  font-family: FUTURE, sans-serif;
  cursor: default;
  margin: 5px 0;
  @media (max-width: 1024px) {
    font-size: 75%;
    height: 20px;
  }
  &.module_id{
    width: 15%;
  }
  &.module_amount{
    width: 15%;
  }
  &.module_base_mass{
    width: 15%;
  }
  &.module_full_mass{
    width: 35%;
  }
}

.building_amount{
  position: absolute;
  right: 5px;
  top: 40px;
  padding: 3px 5px;
  color:  #00E000;
  font-weight: bold;
  font-size: 18px;
}

.building_settings{
  position: absolute;
  right: 5px;
  bottom: 65px;
  color: white;
  background-color: black;
  cursor: pointer;
}
.building_settings_modal{
  position: absolute;
  left: 3px;
  bottom: 65px;
  width: calc(100% - 6px);
  height: calc(100% - 105px);
  background-color: black;
  opacity: .9;
}
.close{
  position: absolute;
  right: 3px;
  top: 3px;
  padding: 3px 6px;
}
.settings_modal_label{
  color: white;
  margin-left: 10px;
}

.molnia{
  position: absolute;
  height: 40px;
  bottom: 65px;
  left: 10px;
  & img{
    width: 100%;
    cursor: pointer;
    animation: blink 1s linear infinite;
  }
}


.info_wrapper{
  z-index: 99999999999;
  background-color: black;
  max-width: 300px;
  border: 1px solid green;
  padding: 5px;
  position: absolute;
  right: 50%;
  top: 0;
  border-radius: 12px;
  transform: translate(-50%, 0);
  & h4{
    white-space: normal;
    text-align: center;
    color: greenyellow;
  }
}

.help_container{
  position: absolute;
  right: 0;
  bottom: 60px;
}




.red{
  color: red;
}


.building_info_wrapper {
  background: radial-gradient(ellipse 90% 90%, rgba(0,0,0,0.35), rgba(0,0,0,1.0)) no-repeat, url(../assets/images/value_bg_blue.png) repeat padding-box;
  position: fixed;
  top: 170px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  gap: 20px;
  color: $sp_green;
  width: 400px;
}
.building_info_description{
  color: $sp_yellow;
}

.building_info_picture {
  width: 150px;
  & img {
    width: 100%;
    min-height: 100%;
  }
}

.building_info_amount{
  & input{
    width: 40px;
    margin-left: 5px;
  }
}

.building_info_production{
  display: flex;
  height: 10%;
  min-height: 20px;
  padding: 1px;
}

.building_info_item{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: default;
  justify-content: space-between;
  & input{
    height: 12px;
    width: 60px;
    outline: none;
    padding: 2px 4px;
    color: $sp_yellow;
    background: linear-gradient(to right, rgba(4,34,38,0.5), rgba(5,45,51,0.5) 50% ,rgba(4,34,38,0.5) 100%) no-repeat border-box;
    border: 1px solid rgba(28,136,153,0.5);
    text-align: center;
  }
}

.building_info_title{
  display: flex;
  color: $sp_yellow;
  justify-content: space-between;
}

.building_info_button{
  position: absolute;
  bottom: 5px;
  right: 5px;
  & button{
    padding: 2px 4px;
    border: 1px solid rgba(43,211,237,0.6);
    color: #73d6e5;
    text-shadow: 0 0 5px rgba(115,214,229,0.5);
    box-shadow: inset 0 0 2px 1px rgba(43,211,237,0.25);
    background: linear-gradient(to top, rgba(43,211,237,0.15), rgba(43,211,237,0.05) 100%) no-repeat border-box, linear-gradient(to top, rgba(9,13,15,0.9), rgba(9,13,15,0.9) 100%) no-repeat border-box;
    &:hover{
      background: linear-gradient(to top, rgba(43,211,237,0.15), rgba(43,211,237,0.05) 10%) no-repeat border-box, linear-gradient(to top, rgba(9,13,15,0.9), rgba(9,13,15,0.9) 10%) no-repeat border-box;
      color: #19b6e5;
    }
    &:active{
      color: $sp_yellow;
    }
  }
}

@keyframes blink {
  0%{opacity: 0}
  50%{opacity: 1}
  100%{opacity: 0}
}




@keyframes planet_spin {
  0%{
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}


