
.top_nav_money{
  display: flex;
  gap: 5px;
}

.top_nav_money_icon{
  padding: 3px 6px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  &:hover{
    border-left: 1px solid yellow;
    border-right: 1px solid yellow;
  }
  &:active{
    transform: scale(1.1);
  }
}

.top_nav_money_cr, .top_nav_money_ig{
  padding: 3px 6px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 6px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  cursor: default;
  font-family: FUTURE, sans-serif;
  font-size: 12px;
  letter-spacing: 0.8px;
}

.money_cr_sum, .nav_military_rating, .green, .money_cr_units, .money_ig_sum, .nav_certificate_rating, .science_params_search, .construct_params_ship{
  color: #00E000;
}
.money_cr_currency, .title, .nav_certificate_ig, .money_ig_currency, .science_params_search_time, .construct_params_ship_time, .nav_certificate_ig{
  color: #daa548;
}
.title{
  font-weight: bold;
}
.hide{
  opacity: 0;
}
// --------------------------------------------------money end
.top_nav_science, .top_nav_construct{
  display: flex;
  align-items: center;
  font-family: FUTURE, sans-serif;
  font-size: 12px;
  gap: 20px;
  letter-spacing: 0.8px;
}

.top_nav_science_params, .top_nav_construct_params{
  display: flex;
  gap: 40px;
}
//-------------------------------------------------------science end
//-------------------------------------------------------construct end
//--------------------------------------------------------------------------------------------TOP NAV END

.left_nav_item{
  cursor: pointer;
  &:hover{
    transform: scale(1.15);
  }
  &:active{
    transform: scale(.95);
  }
}

//-----------------------------------------------------------------------------------LEFT NAV END
.bottom_nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.bottom_nav_item{
  display: flex;
  align-items: center;
  gap: 20px;
}

.bottom_nav_military, .bottom_nav_certificate, .bottom_nav_bonus_operations{
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Tahoma, sans-serif;
  font-size: 12px;
  & img{
    height: 25px;
    cursor: pointer;
  }
}
.bottom_nav_item_icon, .nav_operations_icon{
  cursor: pointer;
  &:hover{
    transform: scale(1.1);
  }
  &:active{
    transform: scale(0.95);
  }
}

// -----------------------------------------------------------------TRADE START
.trade_background{
  position: absolute;
  width: 100%;
  max-height: 473px;
  opacity: .2;
  top: 0;
  left: 0;
}

.trade_container{
  width: 97.2%;
  min-width: 700px;
  position: relative;
  height: 370px;
  border-bottom: 0;
  padding: 10px;
  font-size: 12px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  &::before {
    content: "";
    background-image: url('src/assets/images/trade_background.jpg');
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.25;
  }

}


.trade_filters_wrapper{
  position: relative;
  border: 1px solid white;
  border-radius: 0 0 12px 12px;
  width: 100%;
  color: white;
}
.trade_container_wrapper{
  z-index: 100;
  display: flex;
  align-items: center;
  gap: 10px;
}
.trade_container_item{
  font-size: 14px;
  width: 23%;
  text-align: center;
  &.race{
    width: 50%;
  }
}

.cyborgs{
  color: #e8980d;
}
.humans{
  color: rgb(139, 55, 246);
}
.necrons{
  color: rgb(143, 0, 0);
}

.dropdown{
  position: absolute;
  right: 135px;
}
.trade_filters_inner{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 0;
}
.trade_filters_item{
  text-align: center;
  position: relative;
  padding: 0 0 30px 0;
  border-right: 2px solid rgba(255, 255, 255, .3);
  @media (max-width: 1439.79px) {
    border-right: none;
    border-bottom: 2px solid rgba(255, 255, 255, .3);
  }
}

.trade_filters_item_search{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  gap: 20px;
  margin-top: 20px;
  position: relative;
  & h2{
    white-space: nowrap;
  }
}
.trade_filters_input{
  display: flex;
  justify-content: center;
}
.trade_filters_input_field{
  height: 26px;
  width: calc(100px + (200 - 100) * ((100vw - 320px) / (1920 - 320)));
  font-size: 16px;
  min-width: 200px;
  outline: none;
  background-color: inherit;
  border: 2px solid white;
  border-radius: 12px;
  padding: 0 5px;
}
.trade_filters_input_label{
  font-size: 16px;
  margin-top: 5px;
  margin-right: 20px;
}
.trade_filters_dropdown{
  width: 100%;
  text-align: start;
}
.border_red{
  border: 1px solid red;
}
.trade_filters_input_wrapper{
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
//.double_width{
//  width: 200%;
//  & h2{
//    margin-top: 20px;
//  }
//  @media (max-width: 1439.79px) {
//    width: 100%;
//  }
//}

.direction_column{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.direction_row{
 justify-content: space-around;
  gap: 5px;
  display: flex;
  flex-direction: row;
}
.btn {
    width: 100px;
    height: 26px;
    position: absolute;
  &.submit {
    bottom: 30px;
  }
  &.cancel{
    bottom: 30px;
    left: 120px;
  }
}


.module_container{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: calc(10px + (16 - 10) * ((100vw - 320px) / (1920 - 320)));;
}
.module_size{
  width: 45px;
  height: 45px;
  @media (max-width: 1023.79px) {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
  }
}
.module_image{
  width: 100%;
  height: 100%;
}

.trade_new_lot_choose_module{
  width: 300px;
  padding: 0 20px;
  margin-top: 20px;
  height: 120px;
  overflow: hidden;
  overflow-y: scroll;
  @media (max-width: 1023.79px) {
    width: 250px;
  }
}

.confirm_wrapper{
  color: white;
  z-index: 1100;
  width: 120px;
  height: 100px;
  background-color: black;
  position: absolute;
  right: -140px;
  border: 1px solid white;
  border-radius: 12px;
  &::before{
    border-radius: 12px;
    opacity: .35;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background-image: url('src/assets/images/trade_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.confirm_inner{
  width: 100%;
  height: 100%;
  position: relative;
}
.confirm_close_btn{
  position: absolute;
  right: -30px;
  top: -30px;
  border-radius: 12px;
  background-color: white;
  padding: 5px 10px;
}
.confirm_ok_btn{
  position: absolute;
  left: 5px;
  bottom: 5px;
  padding: 5px 10px;
  width: 90%;
  border-radius: 12px;
}
.confirm_input{
  border-radius: 12px;
  position: absolute;
  outline: none;
  width: 75%;
  padding: 5px;
  overflow-y: hidden;
  left: 5px;
  top: 20px;
}
.confirm_text{
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translate(-50%, 0);
}
.new_lot_inputs{
  display: flex;
  gap: 10px;
  align-items: center;
}
.new_lot_input{
  border: 1px solid white;
  background-color: inherit;
  width: 86px;
  border-radius: 10px;
  padding: 0 5px;
  color: white;
  text-align: center;
  height: 26px;
  &::placeholder{
    color: white;
    opacity: .5;
  }
}
.new_lot_button{
  padding: 5px 10px;
  border-radius: 10px;
  border: 0;
  outline: none;
  width: 70px;
  &:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid white;
  }
  &:active{
    border: 1px solid #00E000;
    color: #00E000;
  }
}