* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1920px;
  min-height: 100vh;
  background-image: url(assets/images/background_main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.top_nav {
  max-width: 1440px;
  background-color: inherit;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  top: 5px;
}

.left_nav {
  position: relative;
  width: 40px;
  height: 70%;
  top: 100px;
  left: 5px;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.bottom_nav {
  position: absolute;
  max-width: 840px;
  height: 40px;
  margin-left: 30%;
  bottom: 5px;
}

.top_nav_money {
  display: flex;
  gap: 5px;
}

.top_nav_money_icon {
  padding: 3px 6px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
}
.top_nav_money_icon:hover {
  border-left: 1px solid yellow;
  border-right: 1px solid yellow;
}
.top_nav_money_icon:active {
  transform: scale(1.1);
}

.top_nav_money_cr, .top_nav_money_ig {
  padding: 3px 6px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 6px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  cursor: default;
  font-family: Tahoma, sans-serif;
  font-size: 12px;
  letter-spacing: 0.8px;
}

.money_cr_sum, .nav_military_rating, .green, .money_cr_units, .money_ig_sum, .nav_certificate_rating, .science_params_search, .construct_params_ship {
  color: #00E000;
}

.money_cr_currency, .title, .nav_certificate_ig, .money_ig_currency, .science_params_search_time, .construct_params_ship_time, .nav_certificate_ig {
  color: #daa548;
}

.title {
  font-weight: bold;
}

.hide {
  opacity: 0;
}

.top_nav_science, .top_nav_construct {
  display: flex;
  align-items: center;
  font-family: Tahoma, sans-serif;
  font-size: 12px;
  gap: 20px;
  letter-spacing: 0.8px;
}

.top_nav_science_params, .top_nav_construct_params {
  display: flex;
  gap: 40px;
}

.left_nav_item {
  cursor: pointer;
}
.left_nav_item:hover {
  transform: scale(1.15);
}
.left_nav_item:active {
  transform: scale(0.95);
}

.bottom_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.bottom_nav_item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.bottom_nav_military, .bottom_nav_certificate, .bottom_nav_bonus_operations {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Tahoma, sans-serif;
  font-size: 12px;
}
.bottom_nav_military img, .bottom_nav_certificate img, .bottom_nav_bonus_operations img {
  height: 25px;
  cursor: pointer;
}

.bottom_nav_item_icon, .nav_operations_icon {
  cursor: pointer;
}
.bottom_nav_item_icon:hover, .nav_operations_icon:hover {
  transform: scale(1.1);
}
.bottom_nav_item_icon:active, .nav_operations_icon:active {
  transform: scale(0.95);
}

.trade_background {
  position: absolute;
  width: 100%;
  max-height: 473px;
  opacity: 0.2;
  top: 0;
  left: 0;
}

.trade_container {
  position: absolute;
  height: 470px;
  border-radius: 12px 12px 0 0;
  top: 135px;
  left: 200px;
  width: 70%;
  border: 1px solid white;
  border-bottom: 0;
  padding: 10px;
  margin: 0 auto;
  font-size: 12px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.trade_filters_wrapper {
  position: absolute;
  border: 1px solid white;
  border-radius: 0 0 12px 12px;
  top: 610px;
  left: 200px;
  width: 70%;
  color: white;
  padding: 10px;
}

.trade_container_wrapper {
  z-index: 100;
  display: flex;
  align-items: center;
  gap: 10px;
}

.trade_container_item {
  font-size: 14px;
  width: 23%;
  text-align: center;
}
.trade_container_item.race {
  width: 50%;
}

.cyborgs {
  color: #e8980d;
}

.humans {
  color: rgb(139, 55, 246);
}

.necrons {
  color: rgb(143, 0, 0);
}

.dropdown {
  position: absolute;
  right: 135px;
}

.trade_filters_inner {
  display: flex;
  justify-content: space-between;
}

.trade_filters_item {
  width: 50%;
  text-align: center;
  position: relative;
}

.trade_filters_item_search {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
  position: relative;
}

.trade_filters_input {
  display: flex;
  align-items: start;
}

.trade_filters_input_field {
  height: 26px;
  width: calc(100px + 200 * (100vw - 320px) / 1600);
  font-size: 16px;
  outline: none;
  background-color: inherit;
  border: 2px solid white;
  border-radius: 12px;
  padding: 0 5px;
}

.trade_filters_input_label {
  font-size: 16px;
  margin-top: 5px;
  margin-right: 20px;
}

.trade_filters_dropdown {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 5px;
}

.btn {
  width: 100px;
  height: 26px;
  position: absolute;
}
.btn.submit {
  bottom: 30px;
}
.btn.cancel {
  bottom: 30px;
  left: 120px;
}

.module_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.module_size {
  width: 45px;
  height: 45px;
}

.module_image {
  width: 100%;
  height: 100%;
}

.trade_new_lot_choose_module {
  position: absolute;
  bottom: -8px;
  left: 130px;
  width: 60%;
  height: 90px;
  overflow: hidden;
  overflow-y: scroll;
}

/*# sourceMappingURL=styles.css.map */
